@import url('reset.css');
/* reset css */

/* slide text */
.slide-txt{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}
.slide-txt>h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: normal;
    font-size: 7.188rem;
    color: #fff;
}
.kr{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: -2px;
    color: #fff;
}
.cn{
    font-family: 'ChosunGu';
}
.en{
    font-family: 'Noto Sans KR';
    font-weight: 200;
    font-size: 1.5rem;
    color: #eee;
}
/* hamburger button */
.h-button{
    top: 4%;
    right: 5%;
    position: absolute;
    display: none;
}
input[id="menuicon"]{
    display: none;
}
input[id="menuicon"]+label{
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 99;
}
input[id="menuicon"]+label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: all .35s;
}
input[id="menuicon"]+label span:nth-child(1){
    top: 0;
}
input[id="menuicon"]+label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
    bottom: 0;
}
/* click - X button */
input[id="menuicon"]:checked+label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked+label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked+label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
/* sidebar */
.sidebar{
    display: none;
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, .95);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -32.5px;
    left: -655px;
    z-index: 10;
    transition: all .35s;
}
.side-menu:nth-child(1){
    top: 35%;
}
.side-menu:nth-child(1) img{
    width: 50%;
    opacity: .8;
    margin-bottom: 30px;
}
.side-menu{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 1.13rem;
    /* text-align: center; */
    color: #111;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.side-menu li{
    margin: 13px 0;
    text-align: left;
}
input[id="menuicon"]:checked+label+div{
    left: -340px;
}
/* 메뉴 구분선 */
.garo{
    border: 1px solid rgba(1, 1, 1, 0.2);
    border-width: 1px 0 0;
    margin-left: -100px;
}


/* section 01 */
.section01{
    position: relative;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 10;
    float: right;
    transition: all .3s;
}
.logo_k{
    padding-left: 20px;
    float: left;
}
.logo_k img{
    width: 70%;
}
.logo_w{
    display: none;
}
.menus{
    float: right;
}
.menus-content{
    padding: 24px 40px;
}
.menus-content li{
    padding: 2px 20px;
    float: left;
}
.menus-content li a{
    font-family: 'EBSHMJESaeronRA';
    font-size: 1.125rem;
    color: #111;
}
.menus-content li a:hover{
    color: rgb(225, 202, 87);
}
/* 메뉴 구분선 */
.menus-content>li+li:before{
    width: 1px;
    height: 20px;
    background-color: #eee;
    position: absolute;
    content: "";
    margin: 4px -17px;
}
/* bxslider */
.bg01, .bg02, .bg03{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg01{
    background-image: url('../images/img1.jpg');
}
.bg02{
    background-image: url('../images/img2.jpg');
}
.bg03{
    background-image: url('../images/img3.jpg');
}
/* section 01 end */

/* section 02 */
.section02{
    width: 100%;
    position: relative;
    background: url('../images/img4.jpg') no-repeat center;
    background-size: cover;
}
.sec02-txt{
    text-align: center;
    padding: 6% 0 6% 0;
}
.sec02-txt h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 4.063rem;
    color: #111;
}
.d-float>div{
    float: left;
}
.sec02-detail{
    width: 40%;    
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 60px;
    color: #111;
    margin: 5% 2% 0 3%;
}
.detail-text{
    width: 90%;
}
.sec02-img{
    width: 50%;
    margin: 0 1.5%;
    padding-bottom: 10%;
}
.sec02-img>img{
    width: 100%;
}
.sec02-img-2{
    width: 100%;
    display: none;
}
/* section 02 end */

/* section 03 */
.section03{
    position: relative;
}
.sec03-bg{
    float: left;
    position: relative;
}
/* map button */
.guidemap01{
    max-width: 100%;
    height: auto;
    float: right;
    position: relative;
}
.guidemap01-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap02-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap03-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap04-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap05-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap06-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap07-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap08-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap09-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap10-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap11-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap12-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap13-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
.guidemap14-on{
    max-width: 100%;
    height: auto;
    float: right;
    display: none;
    position: absolute;
}
/* map button end */
.content-text{
    background-image: url('../images/img5.jpg') no-repeat;
    background-size: cover;
    top: 100px;
    float: left;
    position: absolute;
    margin-left: 60px;
}
.content-text h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: normal;
    font-size: 2.813rem;
    color: #f6f7f8;
    margin-bottom: 58px;
}
.guide-text-number{
    float: left;
}
.circle{
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background: #f6d15a;
    font-family: 'Noto Sans KR';
    color: rgb(65, 65, 65);
    font-weight: 500;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 18.2px;
    margin-right: 10px;
}
.circle a{
    margin-bottom: 20px;
}
.circle:first-child{
    margin-top: 8px;
}
.guide-text-kr{
    font-family: 'Noto Sans KR';
    font-size: 1.563rem;
    color: #f6f7f8;
    float: left;
    margin-left: 49px;
}
.guide-text-kr li{
    margin-bottom: 5px;
}
/* map button */
.kr-txt-01:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-02:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-03:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-04:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-05:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-06:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-07:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-08:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-09:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-10:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-11:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-12:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-13:hover{
    color: #d1bb72;
    display: block;
}
.kr-txt-14:hover{
    color: #d1bb72;
    display: block;
}
/* map button end */
/* modal */
.popup{
    width: 100%;
}
.pop-img img{
    width: 40%;
    height: 400px;
    float: left;
    margin: 5% 0 0 5%;
}
.pop-text{
    width: 40%;
    font-family: 'Noto Sans KR';
    font-size: 1.125rem;
    font-weight: 300;
    float: left;
    text-align: justify;
    margin: 30% 5% 0 4%;
}
.pop-text-title{
    font-size: 1.625rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.modal{
    width: 50%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 20px 29px 0 rgba(0, 0, 0, 0.3);
    transition: all .35s;
    display: none;
    z-index: 4;
    position: absolute;
    margin: 17% 0 0 25%;
}
.close-btn{
    top: 5%;
    right: 3%;
    position: absolute;
    z-index: 5;
}
/* modal end */



@media(max-width: 376px){
    /* section 01 */
    nav{
        width: 100%;
        height: 80px;
        background-color: transparent;
        border: none;
        float: right;
    }
    /* logo */
    .logo_k{
        display: none;
    }
    .logo_w{
        display: block;
        float: left;
        padding-left: 10px;
        padding-top: 10px;
    }
    .logo_w img{
        width: 60%;
    }
    .h-button{
        display: block;
    }
    .sidebar{
        display: block;
    }
    .menus{
        display: none;
    }
    /* slide text */
    .slide-txt>h1{
        font-size: 2.5rem;
    }
    .kr{
        font-size: 1.25rem;
        letter-spacing: -1px;
    }
    .en{
        font-weight: 200;
        font-size: 1rem;
    }
    /* slide control icon */
    .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto{
    right: 50%;
    transform: translateX(50%);
    }
    /* section 01 end */

    /* section 02 */    
    .sec02-txt{
        text-align: center;
        padding: 6% 0 6% 0;
    }
    .sec02-txt h1{
        font-size: 2rem;
        margin-top: 10%;
    }
    .sec02-txt .f-c-y{
        font-weight: 200;
        font-size: 1rem;
    }
    .d-float{
        float: none;
    }
    .sec02-detail{
        width: 100%;    
        font-weight: 300;
        font-size: 1rem;
        text-align: justify;
        line-height: 25px;
        margin: 0 0 15% 5%;
    }
    .detail-text{
        width: 90%;
        margin: 0;
    }
    .sec02-img{
        display: none;
    }
    .sec02-img-2{
        width: 100%;
        display: block;
    }
    .sec02-img-2 img{
        width: 90%;
    }
    
    /* section 02 end */

    /* section 03 */

}